<div class="modal-background battle">

	<div class="col-xs-12">
		<%= current_user.email %>
	</div>
	<div class="col-xs-12">
		<%= @character.name %>
	</div>
	<div class="col-xs-12">
		<%= @character.hp %>
	</div>
	<div class="col-xs-12">
		<%= @character.atk %>
	</div>
	<div class="col-xs-12">
		<%= @character.def %>
	</div>
</div>