
<% @map_livingbeings.each do |map_livingbeing| %>
	<div class="creature-box" style="top: 30%;left: 80%;"
	data-name= "<%= map_livingbeing.name %>" 
	data-hp="<%= map_livingbeing.hp %>" 
	data-atk="<%= map_livingbeing.atk %>" 
	data-def="<%= map_livingbeing.def %>"
	data-status="init"
	>
		<div class="battle-message-creature">
			
		</div>
		<%=  image_tag("creature1.png",class:"creature") %>
		
	</div>

	<div class="creature-box" style="top: 70%;left: 80%;"
	data-name= "<%= map_livingbeing.name %>" 
	data-hp="<%= map_livingbeing.hp %>" 
	data-atk="<%= map_livingbeing.atk %>" 
	data-def="<%= map_livingbeing.def %>"
	data-status="init"
	>
		<div class="battle-message-creature">
			
		</div>
		<%=  image_tag("creature1.png",class:"creature") %>
		
	</div>
	
	
<% end %>
