<%= render 'character_info' %>
<% render 'battle' %>
<div class="second-background">
	
	<div class="main-background" >

		<%= render 'creatures' %>
		<%= render 'gems' %>
		
		

			<div id="character" 
				data-hp="<%= @character.hp %>" 
				data-atk="<%= @character.atk %>" 
				data-def="<%= @character.def %>"
			>
				<div id="battle-message"></div>
			</div>
			<div id="particles-js"></div>
		
	</div>

	<%= audio_tag "underwater.mp3", loop:"true", class: "audio-play" %>
</div>
